<!--
<h1>Forgot your password?</h1>

<%= form_with url: password_reset_path do |form| %>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "example@gmail.com" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Reset Password", class: "btn btn-primary" %>
  </div>
<% end %>
-->
<!DOCTYPE HTML>
<html class="h-full">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />

    <title>Reset Password</title>

    <link rel="icon" href="favicon.png" sizes="64x64" type="image/png" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Reset CSS -->
    <link rel="stylesheet" href="./css/reset.css" />

    <!-- Font CSS -->
    <link rel="stylesheet" href="fonts/mulish/style.css" />
    <link rel="stylesheet" href="./fonts/inter/style.css" />

    <!-- Grid CSS -->
    <link href="./css/grid.css" rel="stylesheet" media="screen" />

    <!-- Custom CSS -->
    <link href="./css/custom.css" rel="stylesheet" media="screen" />

</head>

<body>

    <section class="content-account">

        <div class="content-account-container">

            <div class="logo-lg"></div>

            <form role="form" action="/password_reset" method="post">
                <div class="well well-sm">
                    <h2 class="font700 text-center">Forgot Your Password?</h2>
                    <div class="form-group">
                        <label class="form-label" for="email_box">Email</label>
                        <input type="email" class="form-control" id="email_box" name="query_email" placeholder="Enter your email..."/>
                    </div>

                    <input type="submit" class="btn btn-primary btn-block mb-10" value="Send Password Reset Email" />
                </div>
            </form>

        </div>

    </section>
    <!-- ./content-account-->

</body>

</html>
