<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Enter your email..." type="text">
  </div>
                 
  <div>
    <label for="first_name_box">First Name</label>
      
    <input type="text" id="first_name_box" name="query_first_name">
  </div>
         
  <div>
    <label for="last_name_box">Last Name</label>
      
    <input type="text" id="last_name_box" name="query_last_name">
  </div>
        
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <br>
  <p> (Note: The items below will be split onto a second page to simplify things) </p>
  <br>

  <div>
    <label for="graduation_date_box">Graduation Date</label>
      
    <input type="text" id="graduation_date_box" name="query_graduation_date">
  </div>
         
  <div>
    <label for="school_box">School</label>
      
    <input type="text" id="school_box" name="query_school">
  </div>
         
  <div>
    <label for="international_student_status_box">International Student Status</label>
    <input id="international_student_status_box" name="query_international_student_status" type="checkbox">
  </div>
         
  <div>
    <label for="premba_industry_box">Pre-MBA Industry</label>
      
    <input type="text" id="premba_industry_box" name="query_premba_industry">
  </div>
         
  <div>
    <label for="gender_box">Gender</label>
      
    <input type="text" id="gender_box" name="query_gender">
  </div>
         
  <div>
    <label for="birth_date_box">Birthdate</label>
      
    <input type="text" id="birth_date_box" name="query_birth_date">
  </div>


<!--
  <div>
    <label for="loan_comparisons_count_box">Loan comparisons count</label>
      
    <input type="text" id="loan_comparisons_count_box" name="query_loan_comparisons_count">
  </div>
         
  <div>
    <label for="spend_intentions_count_box">Spend intentions count</label>
      
    <input type="text" id="spend_intentions_count_box" name="query_spend_intentions_count">
  </div>
         
  <div>
    <label for="accounts_count_box">Accounts count</label>
      
    <input type="text" id="accounts_count_box" name="query_accounts_count">
  </div>
         
  <div>
    <label for="budget_expenses_count_box">Budget expenses count</label>
      
    <input type="text" id="budget_expenses_count_box" name="query_budget_expenses_count">
  </div>
         
  <div>
    <label for="budget_incomes_count_box">Budget incomes count</label>
      
    <input type="text" id="budget_incomes_count_box" name="query_budget_incomes_count">
  </div>
         
  <div>
    <label for="current_loans_count_box">Current loans count</label>
      
    <input type="text" id="current_loans_count_box" name="query_current_loans_count">
  </div>
         
  <div>
    <label for="transaction_categories_count_box">Transaction categories count</label>
      
    <input type="text" id="transaction_categories_count_box" name="query_transaction_categories_count">
  </div>
         
  <div>
    <label for="school_events_count_box">School events count</label>
      
    <input type="text" id="school_events_count_box" name="query_school_events_count">
  </div>
         
  <div>
    <label for="plaid_items_count_box">Plaid items count</label>
      
    <input type="text" id="plaid_items_count_box" name="query_plaid_items_count">
  </div>
-->

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
