<!DOCTYPE HTML>
<html class="h-full">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />

    <title>OPTO | Login</title>

    <link rel="icon" href="favicon.png" sizes="64x64" type="image/png" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Reset CSS -->
    <link rel="stylesheet" href="css/reset.css" />

    <!-- Font CSS -->
    <link rel="stylesheet" href="fonts/mulish/style.css" />
    <link rel="stylesheet" href="fonts/inter/style.css" />

    <!-- Grid CSS -->
    <link href="css/grid.css" rel="stylesheet" media="screen" />

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet" media="screen" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>

    <section class="content-account">

        <div class="content-account-container">

            <div class="logo-lg"></div>

            <form role="form" action="/user_verify_credentials" method="post">
                <div class="well well-sm">
                    <h2 class="font700 text-center">Login to Opto</h2>
                    <div class="form-group">
                        <label class="form-label" for="email_box">Email</label>
                        <input type="email" class="form-control" id="email_box" name="query_email" placeholder="Enter your email..."/>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password_box">Password</label>
                        <input type="password" class="form-control" id="password_box" name="query_password" placeholder="Enter your password..."  />
                    </div>

                    <input type="submit" class="btn btn-primary btn-block mb-10" value="Sign In" />
                    <p class="text-center small mb-30" id="forgot_password"><a href="/password_reset">Forgot Password?</a></p>

                    <p class="color-grey text-center small">Don't have an account yet? <a href="/user_sign_up">Register</a></p>
                </div>
            </form>

        </div>

    </section>
    <!-- ./content-account-->

</body>

</html>


<!--
<h1>Sign in</h1>

<form action="/user_verify_credentials" method="post">
  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Enter your email..." type="text">
  </div>

  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Enter your password..." type="password">
  </div>

  <button>
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>
-->
